input{
  border: 1px;
  box-shadow: 0px 0px 10px black;
  border-color: black;
  padding: 10px;
  margin:20px;
  border-radius: 10px;
  outline: none;
  color:black;
  
}
input::focus{
  text-decoration: none;
}
input::focus-within{
  border:2px solid rgb(121, 142, 173)
}
select{
  border: none;
  box-shadow: 0px 0px 10px black;
  padding: 10px;
  margin:20px;
  border-radius: 10px;
}

button{
  border-radius: 5px;
  padding:5px
}

.form{
  display:flex;
  align-items: center;
  justify-content:center ;
  flex-direction: column;
  background-color: khaki;
  background-size:auto;
  
}

.submit{
  border-color: rgb(70, 67, 9);
}
.submit:active{
  color: chocolate;
  background-color: green;
}
